<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>847179282259-qfqjj7832bnnvir3goonnlqiqdokvhj1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.847179282259-qfqjj7832bnnvir3goonnlqiqdokvhj1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>847179282259-9tt88q2s0l7k5u9275igfpur09rg52cl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAKVLVN9zfNYA1cj_IJcDMSVSFChWO8QnI</string>
	<key>GCM_SENDER_ID</key>
	<string>847179282259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hometainCo.hometain</string>
	<key>PROJECT_ID</key>
	<string>hometain-ryn77k</string>
	<key>STORAGE_BUCKET</key>
	<string>hometain-ryn77k.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:847179282259:ios:795303093d53a5d47393a6</string>
</dict>
</plist>